APP_ENV=development
APP_DEBUG=1
APP_TIMEZONE=UTC
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=hostdesk
DB_USER=hostdesk
DB_PASSWORD=hostdesk
SESSION_NAME=hostdesk_session
SESSION_COOKIE_SECURE=0
SESSION_COOKIE_SAMESITE=Lax
VITE_BASE_PATH=/
VITE_API_PROXY_TARGET=http://127.0.0.1:8080
HOSTDESK_API_BASE_URL=http://127.0.0.1:8080
